@import '//at.alicdn.com/t/font_435259_i7dr4myfg0j54s4i.css';
.iconfont {
  font-size: 28px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.iconfont:hover {
  color: #e26d6d;
}
.icon-menu-search {
  font-size: 18px;
  cursor: pointer;
}
.icon-menu {
  font-size: 24px;
}
.icon-tag-inner {
  font-size: 15px;
}
.icon-left,
.icon-right {
  font-size: 0.9em;
}
.icon-date {
  font-size: 0.8rem;
}
.icon-words {
  font-size: 1.1rem;
}
.icon-eye {
  font-size: 1.1rem;
}
.icon-tag,
.icon-category {
  font-size: 0.9rem;
}
.icon-open,
.icon-close {
  font-size: 0.8em;
}
.icon-location {
  font-size: 14px;
}
.icon-search {
  font-size: 15px;
}
.icon-cancel {
  cursor: pointer;
}
.icon-share {
  font-size: 0.9rem;
}
.icon-donate {
  font-size: 0.9rem;
}
.icon-donate-wechat,
icon-donate-alipay {
  font-size: 2em;
}
.icon-pv,
.icon-uv {
  font-size: 1.2em;
}
.icon-backtotop {
  font-size: 40px;
}
.header-logo,
.header-menu-link,
.post-time,
.post-words,
.post-visitor,
.post-meta,
.toc-list,
list-style-type none,
.toc-item,
.toc-subitem,
.recent-post,
.link-item a,
.search-title,
.search-content {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.block,
.article,
.widget {
  heigth: auto;
  margin: 0.8em 0;
  padding: 0.6em;
}
.post-widget-tag a,
.tag-wrap,
.meta-item {
  margin: 3px 2px;
  padding: 0 12px;
  display: inline-block;
  line-height: 25px;
  border: 1px solid #d5dce5;
  border-radius: 999em;
}
.post-widget-tag a:visited,
.tag-wrap:visited,
.meta-item:visited,
.post-widget-tag a:active,
.tag-wrap:active,
.meta-item:active,
.post-widget-tag a:link,
.tag-wrap:link,
.meta-item:link {
  color: rgba(0,0,0,0.65);
}
.post-widget-tag a:hover,
.tag-wrap:hover,
.meta-item:hover {
  background: rgba(255,255,255,0.2);
  color: #e26d6d;
  border: 1px solid #e26d6d;
}
@media screen and (min-width: 769px) {
}
.foot-link a,
.vsubmit {
  position: relative;
}
.foot-link a:hover,
.vsubmit:hover {
  color: #e26d6d;
}
@media screen and (min-width: 769px) {
  .foot-link a::after,
  .vsubmit::after {
    content: " ";
    width: 100%;
    height: 0px;
    background: #fff;
    position: absolute;
    top: 99%;
    left: 0%;
    transition: 0.3s;
  }
  .foot-link a:hover:after,
  .vsubmit:hover:after {
    background: #e26d6d;
    height: 1.8px;
    top: 97%;
    left: 0%;
  }
}
.post-content a,
.article-excerpt p a,
.article-readmore,
.link-item a {
  position: relative;
  cursor: pointer;
}
.post-content a:hover,
.article-excerpt p a:hover,
.article-readmore:hover,
.link-item a:hover {
  color: #e26d6d;
}
.post-content a::after,
.article-excerpt p a::after,
.article-readmore::after,
.link-item a::after {
  content: " ";
  width: 0;
  height: 1.5px;
  background: #e26d6d;
  position: absolute;
  top: 99%;
  right: 0;
  transition: all 0.4s;
}
.post-content a:hover:after,
.article-excerpt p a:hover:after,
.article-readmore:hover:after,
.link-item a:hover:after {
  left: 0;
  width: 100%;
}
.clearfix():before,
.clearfix():after {
  content: " ";
  display: table;
}
.clearfix():after {
  clear: both;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  line-height: 1.25;
  color: #000;
  word-spacing: 0.5px;
}
h1 {
  font-size: 24px;
  margin: 50px 0 40px 0;
  position: relative;
}
h2 {
  margin: 40px 0 0 0;
  font-size: 20px;
}
h3 {
  margin: 40px 0 0 0;
  font-size: 18px;
}
h4,
h5,
h6 {
  font-size: 15px;
}
p {
  letter-spacing: 0.4px;
  word-spacing: 1px;
  font-weight: 300;
  color: #000;
  margin: 28px 0;
  line-height: 1.5;
}
strong {
  font-weight: 400;
}
blockquote {
  display: block;
  letter-spacing: 0.4px;
  font-size: 16px;
  padding: 0 12px;
  margin: 40px 0;
}
blockquote p {
  margin: 0;
  padding-left: 10px;
  border-left: 3px solid #727272;
}
hr {
  margin: 1em 0;
  opacity: 0.2;
  border: 0.2px solid #ccc;
}
ul,
ol {
  margin-left: 22px;
  padding-left: 0px;
}
ul p,
ol p {
  margin: 0;
}
li {
  margin: 8px 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 14px;
  margin: 28px 0;
}
th {
  font-size: 15px;
}
th,
td {
  border: 1px solid #ddd;
  padding: 0.4em 1em;
  font-weight: 300;
}
@media screen and (min-width: 769px) {
  .highlight table::after {
    position: absolute;
    top: 0;
    right: 0;
    padding: 6px;
    font-size: 12px;
    color: $highlight-comment;
    content: 'Code';
    text-align: right;
  }
  .highlight.html > ::after {
    content: "HTML";
  }
  .highlight.js > ::after {
    content: "JavaScript";
  }
  .highlight.bash > ::after {
    content: "Bash";
  }
  .highlight.css > ::after {
    content: "CSS";
  }
  .highlight.scss > ::after {
    content: "Scss";
  }
  .highlight.java > ::after {
    content: "Java";
  }
  .highlight.xml > ::after {
    content: "XML";
  }
  .highlight.python > ::after {
    content: "Python";
  }
  .highlight.json > ::after {
    content: "JSON";
  }
  .highlight.swift > ::after {
    content: "Swift";
  }
  .highlight.ruby > ::after {
    content: "Ruby";
  }
  .highlight.php > ::after {
    content: "PHP";
  }
  .highlight.c > ::after {
    content: "C";
  }
  .highlight.cpp > ::after {
    content: "C++";
  }
  .highlight.c++ > ::after {
    content: "C++";
  }
  .highlight.scheme > ::after {
    content: "Scheme";
  }
  .highlight.objectivec > ::after {
    content: "Objective-C";
  }
  .highlight.yml > ::after {
    content: "YAML";
  }
  .highlight.stylus > ::after {
    content: "Stylus";
  }
}
pre,
.highlight {
  overflow: auto;
  margin: 20px 0;
  padding: 0;
  font-size: 15px;
  color: #4d4d4c;
  background: #eee;
  line-height: $line-height-code-block;
}
pre,
code {
  font-family: 'Helvetica', 'consolas';
}
code {
  padding: 2px 4px;
  word-wrap: break-word;
  color: $code-foreground;
  background: $code-background;
  border-radius: $code-border-radius;
  font-size: 15px;
}
pre {
  padding: 10px;
}
pre code {
  padding: 0;
  color: #4d4d4c;
  background: none;
  text-shadow: none;
}
.highlight {
  border-radius: 8px;
  position: relative;
}
.highlight pre {
  border: none;
  margin: 0;
  padding: 10px 0;
}
.highlight table {
  margin: 0px;
  width: auto;
  border: none;
}
.highlight td {
  border: none;
  padding: 0;
}
.highlight figcaption {
  font-size: 1em;
  color: #4d4d4c;
  line-height: 1em;
  margin-bottom: 1em;
}
.highlight figcaption a {
  float: right;
  color: #4d4d4c;
}
.highlight figcaption a:hover {
  border-bottom-color: #4d4d4c;
}
.highlight .gutter pre {
  padding-left: 10px;
  padding-right: 10px;
  color: #869194;
  text-align: right;
  background-color: #eee;
}
.highlight .code pre {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #eee;
}
.highlight .line {
  display: block;
  height: 22px;
  border: none;
}
.highlight .marked {
  width: 100%;
  border-left: 2px solid #727272;
  margin: 0.5em 0;
  padding-left: 0.5em;
}
.gutter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.gist table {
  width: auto;
}
.gist table td {
  border: none;
}
pre .deletion {
  background: #fdd;
}
pre .addition {
  background: #dfd;
}
pre .meta {
  color: #c397d8;
}
pre .comment {
  color: #8e908c;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #e24c38;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant,
pre .command {
  color: #e78c45;
}
pre .ruby .class .title,
pre .css .rules .attribute,
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata,
pre .special,
pre .number,
pre .formula {
  color: #360;
}
pre .title,
pre .css .hexcolor {
  color: #70c0b1;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #7aa6da;
}
pre .keyword,
pre .javascript .function {
  color: #e24c38;
}
html,
body {
  height: 100%;
  width: 100%;
  background: #f5f6fa;
  letter-spacing: 0.3px;
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  font: 400 15px 'PingHei', 'PingFang SC', 'Roboto', 'Helvetica Neue', 'Work Sans', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
  line-height: 1.5;
  color: rgba(0,0,0,0.8);
}
a {
  text-decoration: none;
  font-weight: 300;
}
a:link,
a:visited,
a:active {
  color: rgba(0,0,0,0.7);
}
a:hover {
  color: #e26d6d;
}
img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
}
img:hover {
  opacity: 0.8;
}
time {
  font-size: 14px;
  font-weight: 300;
  opacity: 0.9;
}
time:hover {
  color: #e26d6d;
}
li {
  font-weight: 300;
}
.page-title {
  text-align: center;
  display: block;
  font-size: 1.1em;
  margin-bottom: 1.5em;
  line-height: 10px;
  letter-spacing: 0.6px;
  font-weight: 300;
  color: rgba(0,0,0,0.5);
}
.page-title:hover {
  color: #e26d6d;
}
.comments {
  cursor: pointer;
  font-weight: 300;
  font-size: 13px;
  letter-spacing: 0.8px;
  padding: 0 5px;
}
.comments:hover {
  color: #e26d6d;
}
.left {
  float: left;
}
.right {
  float: right;
}
.mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: rgba(0,0,0,0.3);
}
.container {
  margin-top: 1.8em;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.container {
  flex-direction: row-reverse;
}
.back-to-top {
  padding: 0.1em;
  color: #454545;
  display: none;
  position: fixed;
  cursor: pointer;
  opacity: 0.8;
  z-index: 20;
  bottom: 4%;
  left: 94%;
}
.back-to-top:hover {
  color: #e26d6d;
}
#toc {
  padding: 1.8em 0;
  position: absolute;
  width: 250px;
  height: 100%;
  top: 0;
  left: 80%;
  overflow: hidden;
}
#post {
  width: 48%;
}
#main {
  width: 50%;
}
#sidebar {
  width: 18%;
}
#main,
#sidebar {
  margin: 0 2em;
}
@media screen and (max-width: 479px) {
  #toc {
    display: none;
  }
}
::selection {
  background: #727272;
  color: #fff;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #ccc;
}
@media screen and (max-width: 479px) {
  ::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 2px;
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #555;
}
.header {
  width: 100%;
  border-bottom: 1px solid #eee;
}
.header-nav {
  margin: 0 auto;
  height: 60px;
  max-width: 80%;
  line-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  display: inline-block;
  width: 33%;
  font: 26px 'Century Gothic', 'Microsoft YaHei', sans-serif;
  text-align: center;
}
.header-menu {
  margin-right: 5%;
  display: flex;
  justify-content: flex-end;
  white-space: nowrap;
}
.header-menu-link {
  margin: 0 1em;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
}
.header-static {
  position: static;
  background-color: #f5f6fa;
}
.header-fixed {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  opacity: 0.8;
  background-color: #fff;
  transition: all 0.6s;
}
.header-menu-active {
  border-bottom: 2px solid rgba(0,0,0,0.5);
}
.header-menu-active:visited,
.header-menu-active:active,
.header-menu-active:link {
  color: #000;
}
.header-menu-active:hover {
  color: #e26d6d;
  border-bottom: 2px solid #e26d6d;
}
.header-title {
  font-size: 23px;
}
.mobile-toggle {
  display: none;
  position: absolute;
  margin: 0 auto;
  padding: 0;
  left: 20px;
  top: 6px;
  margin-left: -9px;
  margin-top: -9px;
}
.mobile-menu {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  height: 100%;
  background-color: #f5f6fa;
  z-index: 999;
  padding-top: 26px;
  text-align: center;
}
.mobile-menu-link {
  display: block;
  padding: 18px 16px;
  line-height: 1;
  letter-spacing: 0.6px;
}
.mobile-menu-icon {
  margin: 30px;
  width: 40px;
}
#footer {
  margin: 6em 0 0.8em;
  text-align: center;
  font-size: 13px;
  color: rgba(0,0,0,0.4);
}
.foot-link a {
  color: #e26d6d;
}
.foot-link a:hover {
  color: #000;
}
.post {
  margin: 0 auto;
  padding-top: 0.4em;
}
.post-title {
  display: block;
  font-size: 38px;
  font-weight: 400;
  color: rgba(0,0,0,0.7);
  margin: 0.4em 0;
}
.post-info {
  width: 100%;
  margin: 44px 0 12px;
  padding-bottom: 12px;
  font-family: 'Times New Roman', 'Georgia', 'serif';
  border-bottom: 1px solid #f0f0f0;
}
.post-time,
.post-words,
.post-visitor,
.post-meta {
  font-size: 14px;
  color: rgba(0,0,0,0.6);
  margin-right: 24px;
  padding: 0.8em 0;
}
.category-link,
.tag-link {
  font-size: 13px;
  font-weight: 300;
  font-family: 'PingHei', 'PingFang SC', 'Roboto', 'Helvetica Neue', 'Work Sans', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
}
.category-link:visited,
.tag-link:visited,
.category-link:active,
.tag-link:active,
.category-link:link,
.tag-link:link {
  color: #000;
}
.category-link:hover,
.tag-link:hover {
  color: #e26d6d;
}
.post-content {
  margin: 40px 0;
}
.post-content a {
  color: #e26d6d;
}
.post-content a:hover {
  color: #000;
}
.post-footer {
  text-align: right;
  position: relative;
  padding: 1em 0;
  border-bottom: 1px solid #eee;
}
#donate-box {
  display: none;
  width: 360px;
  height: 280px;
  padding: 20px 0;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -160px;
  margin-left: -180px;
  border-radius: 10px;
  z-index: 999;
  text-align: center;
  background: #f5f6fa;
}
.donate-cancel {
  position: absolute;
  top: 8px;
  right: 24px;
  width: 12px;
}
.donate-img-box {
  width: 200px;
  margin: 0 auto;
}
.donate-word {
  display: inline-block;
  font-family: $thin-font;
  font-weight: 300;
  margin: 10px 0;
  font-size: 14px;
}
.donate-list {
  padding-bottom: 15px;
  height: 30px;
}
.donate-img {
  width: 200px;
  height: auto;
  display: none;
}
.donate-active {
  color: #e26d6d;
}
.-mob-share {
  display: none;
  position: absolute;
  background: #f5f9fa;
  top: -38px;
  right: 0;
  padding: 5px;
  border-radius: 6px;
  background-color: rgba(255,255,255,0.4);
  border: 1px solid transparent;
}
.-mob-share span {
  padding: 0.2rem;
  font-size: 20px;
  cursor: pointer;
  opacity: 0.7;
}
.-mob-share span:hover {
  color: #e26d6d;
}
.nav {
  margin: 1em 0 4em;
  overflow: hidden;
  font-weight: 300;
  font-size: 1.2em;
}
.nav a {
  font-size: 1em;
}
.nav a:hover {
  color: #e26d6d;
}
.post-widget {
  margin: 7em 0;
  text-align: center;
}
.post-widget-tag a {
  font-size: 0.9em;
}
.post-widget-title {
  display: block;
  font-size: 14px;
  margin-bottom: 30px;
  font-weight: 300;
}
.post-widget-title:hover {
  color: #e26d6d;
}
#comment {
  border: 0.6px solid #eaeaea;
  border-radius: 6px;
  margin: 4em 0 8em 0;
  position: relative;
}
#comment:before {
  content: "Comment";
  top: -36px;
  left: 5px;
  position: absolute;
  color: rgba(0,0,0,0.4);
  font-size: 16px;
  font-weight: 300;
}
.power,
.vempty {
  visibility: hidden;
}
.vnick,
.veditor,
.vmail,
.vempty {
  font-size: 14px;
  font-weight: 300;
  color: #000;
  font-family: 'PingHei', 'PingFang SC', 'Roboto', 'Helvetica Neue', 'Work Sans', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
  border-bottom: 0 !important;
}
.vsubmit {
  background-color: #f5f6fa !important;
  border: 0 !important;
  padding: 0 3px !important;
  color: rgba(0,0,0,0.7) !important;
  font-weight: 300 !important;
  letter-spacing: 0.3px;
}
.vsubmit:hover {
  color: #e26d6d !important;
}
.vcard {
  padding: 5px 0 0 20px !important;
}
.article {
  margin: 0 0 120px 0;
}
.article-header {
  padding: 0 0 12px;
  border-bottom: 0.9px solid #f0f0f0;
  text-align: center;
}
.article-header time {
  color: rgba(0,0,0,0.5);
}
.article-title {
  font-size: 24px;
  margin: 0 0 18px;
  padding: 0 4px;
  display: block;
  font-weight: 300;
}
.article-title:active,
.article-title:link,
.article-title:visited {
  color: rgba(0,0,0,0.7);
}
.article-title:hover {
  color: #e26d6d;
}
.article-excerpt {
  margin: 28px 0;
  padding: 0 8px;
  font-size: 13px;
}
.article-excerpt:hover {
  color: #000;
}
.article-excerpt p {
  letter-spacing: 0.3px;
  font-size: 14px;
  margin: 18px 0 8px 0;
  line-height: 1.5em;
}
.article-excerpt p a {
  color: #e26d6d;
}
.article-excerpt p a:hover {
  color: #000;
}
.article-readmore {
  float: right;
  font-size: 13px;
  margin: 0.4em 0.9em 0 0.9em;
  font-weight: 300;
}
.article-readmore:visited,
.article-readmore:active,
.article-readmore:link {
  color: rgba(0,0,0,0.7);
}
.article-readmore:hover {
  color: #e26d6d;
}
.gallery-box {
  display: inline-block;
  width: 175px;
  height: auto;
}
.gallery-brg {
  border-radius: 2px;
  display: block;
  width: 175px;
  height: 175px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
.gallery-img {
  visibility: hidden;
  width: 100%;
  height: 100%;
}
.item {
  font-size: 1em;
  overflow: hidden;
  padding: 0.5em 0 0.5em 1em;
}
.item:hover {
  color: #e26d6d;
}
.item-date {
  float: left;
  font-weight: 300;
  width: 20%;
  text-align: center;
}
.item-date:hover {
  color: #e26d6d;
}
.item-title {
  float: left;
  width: 80%;
  font-weight: 300;
}
.item-title:hover {
  color: #e26d6d;
}
.meta-block {
  overflow: hidden;
  margin: 0.6em 0.6em 0 0.8em;
}
.meta-name {
  display: block;
  margin: 1em;
  letter-spacing: 1px;
  font-weight: 300;
}
.meta-name span {
  padding-left: 5px;
}
.archive-year {
  dispaly: inline-block;
  font-size: 1.2rem;
  margin: 0.8em 0;
  opacity: 0.7;
  line-weight: 2;
  letter-spacing: 1px;
  text-align: center;
}
.tag-block {
  margin: 0.6em 0 2.8em;
}
.tag-wrap {
  display: inline-block;
  margin: 0.4em 0.3em;
}
.tag-name {
  font-size: 13px;
}
.paginator {
  margin: 4em 0 2em;
  padding: 10px 0;
  font-size: 14px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  text-align: center;
}
.prev,
.next,
.page-number {
  margin: 0 10px;
}
.prev:hover,
.next:hover,
.page-number:hover {
  color: #e26d6d;
}
.prev {
  float: left;
}
.next {
  float: right;
}
.current {
  color: #e26d6d;
}
.toc-container {
  display: none;
  width: 100%;
  height: 100%;
  border-top: 1px solid #f0f0f0;
  overflow-y: auto;
}
.toc-contents {
  display: block;
  font-size: 15px;
  font-weight: 300;
  color: rgba(0,0,0,0.5);
  cursor: pointer;
}
.toc-list,
list-style-type none,
.toc-item {
  display: block;
  padding-left: 0;
  font-size: 14px;
  font-weight: 300;
  margin: 8px 0;
  color: rgba(0,0,0,0.8);
  letter-spacing: 0.5px;
}
.toc-item:hover {
  cursor: pointer;
  color: #e26d6d;
}
.toc-subitem {
  display: block;
  font-size: 13px;
  color: rgba(0,0,0,0.6);
  margin: 8px 0 8px 4px;
}
.toc-subitem:hover {
  cursor: pointer;
  color: #e26d6d;
}
.toc-fixed {
  position: fixed;
  top: 1%;
  left: 80%;
  height: 86%;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}
.toc-active {
  color: #e26d6d;
}
.toc-sub-active {
  color: #e26d6d;
}
.widget {
  text-align: center;
}
.widget-title {
  display: block;
  padding: 0.8em 0;
  margin: 1em auto;
  width: 40%;
  font-size: 16px;
  letter-spacing: 1.4px;
  border-bottom: 1px solid #eee;
  color: rgba(0,0,0,0.5);
}
.widget-title:hover {
  color: #e26d6d;
}
.pofile {
  padding: 1em;
}
.avatar {
  display: block;
  margin: 0 auto;
  width: 74%;
}
.author {
  display: block;
  font-size: 18px;
  margin: 10px 0;
  font-weight: 400;
}
.descrption {
  color: #808080;
  margin: 8px 0;
  font-size: 14px;
}
.location {
  display: block;
  margin: 8px 0;
  font-size: 13px;
  font-weight: 300;
}
.count {
  margin: 6px 0;
  overflow: hidden;
  border-bottom: 1px solid #eee;
}
.count div {
  text-align: center;
  width: 50%;
  float: left;
}
.count-item {
  display: inline;
  margin: 8px 0;
  font-weight: 300;
}
.count-item a {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  line-height: 2;
}
.count-item a:hover {
  color: #e26d6d;
}
.search-widget {
  margin: 0.2em auto;
  padding: 6px 0 10px;
  width: 70%;
  height: 18px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #fbfcfd;
  text-align: center;
  cursor: pointer;
}
.search-widget:hover {
  color: #e26d6d;
}
.search-word {
  font-size: 15px;
  font-weight: 300;
}
.search-word:hover {
  color: #e26d6d;
}
.recent-post {
  max-width: 100%;
  width: auto;
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 300;
}
.recent-post:hover {
  color: #e26d6d;
}
.meta-item {
  font-size: 13px;
  padding: 0 10px;
  margin: 0 2px 10px 0;
}
.meta-count {
  font-size: 0.4em;
  padding-bottom: 0.6em;
}
.link-item {
  font-size: 0.8rem;
  border-radius: 10px;
}
.link-item a {
  padding: 0.4em 0.2em 0.4em 0;
}
.search-container {
  display: none;
  position: fixed;
  left: 50%;
  top: 80px;
  z-index: 999;
  width: 700px;
  max-height: 600px;
  margin-left: -350px;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 8px;
  background: #fff;
}
.search-input {
  margin: 0 auto;
  padding: 14px 0 14px 20px;
  font-size: 16px;
  width: 90%;
  height: 28px;
  border: none;
  opacity: 0.8;
  border-bottom: 1px solid #f0f0f0;
  outline: none;
}
.search-cancel {
  position: absolute;
  top: 14px;
  width: 18px;
}
.search-cancel:hover {
  color: #e26d6d;
}
.search-result {
  padding: 12px;
  margin: 3px 0;
  overflow: hidden;
}
.search-item {
  margin: 10px 0 12px 0;
  border-bottom: 1px solid #f0f0f0;
}
.search-title {
  display: block;
  width: 98%;
  padding-left: 12px;
  font-size: 16px;
}
.search-title:link,
.search-title:visited,
.search-title:active {
  color: rgba(0,0,0,0.8);
}
.search-title:hover {
  color: #e26d6d;
}
.search-content {
  padding: 12px;
  margin: 2px 0;
  font-size: 13px;
  color: rgba(0,0,0,0.7);
}
.search-empty {
  margin: 20px 0 24px 0;
  font-size: 16px;
  text-align: center;
}
.search-empty:hover {
  color: #e26d6d;
}
.search-keyword {
  color: #e26d6d;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1.2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 0s;
}
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
  }
}
.slideUp {
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: slideUp;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 0s;
}
@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
.slideDown {
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: slideDown;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 0s;
}
@-webkit-keyframes slideDownMin {
  0% {
    -webkit-transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}
.slideDownMin {
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: slideDownMin;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 0s;
}
@-webkit-keyframes slideRIn {
  0% {
    -webkit-transform: translateX(65px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
.slideRIn {
  -webkit-animation-name: slideRIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 0s;
}
@-webkit-keyframes itemLIn {
  0% {
    -webkit-transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(10px);
  }
}
.itemLIn {
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: itemLIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 0s;
}
@-webkit-keyframes itemRIn {
  0% {
    -webkit-transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0px);
  }
}
.itemRIn {
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: itemRIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 0s;
}
@-webkit-keyframes menuSlideIn {
  0% {
    -webkit-transform: translateX(-200px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
.menuSlideIn {
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: menuSlideIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 0s;
}
@-webkit-keyframes menuSlideOut {
  0% {
    -webkit-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-200px);
  }
}
.menuSlideOut {
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: menuSlideOut;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 0s;
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes slideUp {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@-o-keyframes slideUp {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@keyframes slideUp {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@-moz-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-o-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes slideDownMin {
  0% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes slideDownMin {
  0% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-o-keyframes slideDownMin {
  0% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideDownMin {
  0% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-moz-keyframes slideRIn {
  0% {
    -webkit-transform: translateX(65px);
    transform: translateX(65px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes slideRIn {
  0% {
    -webkit-transform: translateX(65px);
    transform: translateX(65px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-o-keyframes slideRIn {
  0% {
    -webkit-transform: translateX(65px);
    transform: translateX(65px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideRIn {
  0% {
    -webkit-transform: translateX(65px);
    transform: translateX(65px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-moz-keyframes itemLIn {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}
@-webkit-keyframes itemLIn {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}
@-o-keyframes itemLIn {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}
@keyframes itemLIn {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}
@-moz-keyframes itemRIn {
  0% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@-webkit-keyframes itemRIn {
  0% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@-o-keyframes itemRIn {
  0% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes itemRIn {
  0% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@-moz-keyframes menuSlideIn {
  0% {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes menuSlideIn {
  0% {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-o-keyframes menuSlideIn {
  0% {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes menuSlideIn {
  0% {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-moz-keyframes menuSlideOut {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
  }
}
@-webkit-keyframes menuSlideOut {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
  }
}
@-o-keyframes menuSlideOut {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
  }
}
@keyframes menuSlideOut {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
  }
}
@media screen and (max-width: 479px) {
  h1,
  h2,
  h3 {
    margin: 28px 0;
  }
  h4,
  h5,
  h6 {
    margin: 14px 0;
  }
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 16px;
  }
  h4 {
    font-size: 14px;
  }
  h5,
  h6 {
    font-size: 12px;
  }
  p {
    margin: 12px 0;
    font-size: 14px;
  }
  .container {
    display: block;
  }
  .container,
  #main {
    clear: both;
    width: 98%;
    margin: 0;
    padding: 0 0.4em;
  }
  .block {
    margin: 0;
  }
  #toc {
    display: none;
  }
  .header {
    width: 100%;
  }
  .header-nav {
    max-width: 100%;
    height: 50px;
    position: relative;
    text-align: center;
  }
  .header-logo {
    display: inline-block;
    font-size: 22px;
    margin: 0 auto;
  }
  .header-title {
    width: auto;
    max-width: 50%;
    font-size: 18px;
  }
  .header-menu {
    display: none;
  }
  .mobile-toggle {
    display: inline;
  }
  #post {
    width: 100%;
  }
  .post {
    padding: 0 0.8em;
  }
  .post-title {
    display: none;
  }
  .post-info {
    margin: 1em 0;
    border-bottom: 1px solid #eee;
  }
  .post-info * {
    opacity: 0.95;
    margin: 0;
  }
  .post-content {
    width: 100%;
  }
  .nav {
    margin: 1em 0 2em 0;
    height: 60px;
  }
  .nav-prev,
  .nav-next {
    font-size: 15px;
    width: 100%;
    margin: 0.8em 0;
  }
  .nav-prev {
    text-align: left;
  }
  .nav-next {
    text-align: right;
  }
  #donate-box {
    width: 94%;
    top: 50%;
    left: 3%;
    margin-left: 0;
    border-radius: 6px;
  }
  .article {
    margin: 10px 0 40px 0;
    padding: 0;
    border-bottom: 1px solid #eee;
  }
  .article-header {
    padding: 0;
    text-align: left;
  }
  .article-header time {
    font-size: 13px;
    padding-left: 6px;
  }
  .article-title {
    margin: 2px 0;
    font-size: 20px;
  }
  .article-excerpt p {
    margin: 12px 0;
    color: rgba(0,0,0,0.8);
    font-size: 13px !important;
  }
  .article-readmore {
    display: none;
  }
  .item {
    margin: 4px 8px;
    padding: 4px;
  }
  .item-date,
  .item-title {
    display: block;
    clear: both;
    text-align: left;
  }
  .item-title {
    max-width: 100%;
    width: 100%;
    margin: 8px 0;
  }
  .meta-block {
    margin: 0;
  }
  .meta-name {
    margin: 1em 0;
    border-bottom: 1px solid #eee;
  }
  .tag-wrap {
    margin: 2px 0 8px 0;
  }
  #sidebar {
    width: 100%;
    margin: 0 auto;
    clear: both;
  }
  .widget {
    display: none;
  }
  .profile {
    display: block;
    margin-top: 40px;
  }
  .avatar {
    width: 70%;
  }
  .highlight {
    width: 100%;
  }
  .gallery-box,
  .gallery-brg,
  .gallery-img {
    width: 100%;
  }
  .page-title {
    display: none;
  }
  .back-to-top {
    left: 80%;
    bottom: 10%;
  }
  .prev,
  .next {
    font-size: 14px;
  }
  .search-widget {
    display: none;
  }
  .search-container {
    position: fixed;
    margin: 0 auto;
    left: 0;
    top: 0;
    width: 100%;
    max-height: 85%;
    border-radius: 0;
  }
  .search-input {
    width: 80%;
  }
  .search-result {
    padding: 4px;
    overflow: hidden;
  }
  .search-item {
    margin: 4px 4px 6px 4px;
  }
  .slide-right {
    transform: translateX(200px);
    transition: 0.5s;
  }
  .slide-left {
    transform: translateX(0px);
    transition: 0.5s;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  html,
  body {
    font-size: 18px;
  }
  .header-nav {
    width: 100%;
    margin: 0 auto;
  }
  .container {
    margin-top: 0.4em;
  }
  #main {
    width: 60%;
  }
  #sidebar {
    width: 40%;
  }
  #main,
  #sidebar {
    margin: 0;
  }
  #post {
    margin: 0 auto;
    width: 94%;
  }
  #toc {
    display: none;
  }
  .profile {
    display: block;
    margin-top: 2rem;
  }
  .gallery-box,
  .gallery-brg,
  .gallery-img {
    width: 100%;
  }
}
